* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #3f3844;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#leftContent {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#centeredContent {
    height: 500px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
form {
    display: inline-block;
    background-color: floralwhite;
    border-radius: 15px;
}
fieldset {
    border-radius: 15px;
    padding: 50px;
    border: none;
    width: 50vw;
}

input[type="text"], input[type="email"] {
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid #3f3844;
    padding: 5px;
    width: 100%;
}
textarea {
    margin: 10px 0;
    width: 100%;
    min-height: 10vh;
}
input[type="submit"] {
    padding: 10px 15px;
    min-width: 10vw;
    border-radius: 10px;
    border: 1px solid #3f3844;
    background-color: #3f3844;
    color: floralwhite;
    transition: background-color 0.5s, color 0.5s;
}
input[type="submit"]:hover {
    background-color: floralwhite;
    color: #3f3844;
}


#centeredContent ul {
    display: inline-block;
    list-style-type: none;
    margin: 15px;
}
#centeredContent ul li a {
    text-align: center;
    border: 1px solid #3f3844;
    background-color: #3f3844;
    text-decoration: none;
    color: floralwhite;
    display: block;
    padding: 10px;
    margin: 20px;
    min-width: 200px;
    border-radius: 100px;
    transition: background-color 0.5s, color 0.5s;
}
#centeredContent ul li a:hover {
    background-color: floralwhite;
    color: #3f3844;
}

#formWrapper {
    padding: 10px;
    background-color: #3f3844;
    border-radius: 15px;
}

/* Tablet layout */
@media screen and (max-width: 900px) {
    main {
        flex-direction: column;
    }
    #centeredContent ul {
        margin: 0;
        width: 100%;
    }

    #centeredContent ul li a{
        min-width: none;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    label {
        display: block;
        width: 100%;
    }

}