* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* Tablet layout */
@media screen and (max-width: 900px) {
    
}

/* Mobile layout */
@media screen and (max-width: 600px) {
    
}