* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: floralwhite;
    color: #3f3844;
}

nav {
    margin: 25px 60px 20px 60px;
}
nav ul {
    list-style-type: none;
}
nav ul li {
    text-align: center;
    margin: 10px;
}
nav ul li a {
    color: #3f3844;
    font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif;
    text-decoration: none;
    display: block;
    border-bottom: 3px solid floralwhite;
    transition: border-bottom 0.4s;
}
nav ul li a:hover {
    border-bottom: 3px solid #3f3844;
}

.mainlist {
    display: flex;
    justify-content: space-between;
}
.leftlist {
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightlist {
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    clear: both;
}
/* Tablet layout */
@media screen and (max-width: 900px) {
    
}

/* Mobile layout */
@media screen and (max-width: 600px) {
    
}