* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: floralwhite;
    color: #3f3844;
    font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif;
}

nav {
    margin: 25px 60px 20px 60px;
}
nav ul {
    list-style-type: none;
}
nav ul li {
    text-align: center;
    margin: 10px;
}
nav ul li a {
    color: #3f3844;
    font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif;
    text-decoration: none;
    display: block;
    border-bottom: 3px solid floralwhite;
    transition: border-bottom 0.4s;
}
nav ul li a:hover {
    border-bottom: 3px solid #3f3844;
}

.mainlist {
    display: flex;
    justify-content: space-between;
}
.leftlist {
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightlist {
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    clear: both;
}

#centeredContent {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    gap: 10px;
}

header {
    grid-column: 2/3;
}
main {
    grid-row: 2;
    grid-column: 2/3;
}
.lengthwiseContent {
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: #3f3844;
    color: floralwhite;
    padding: 20px;
    overflow: auto;
    position: relative;
}
.lengthwiseContent h2 {
    display: inline-block;
    padding-bottom: 10px;
    padding-top: 10px;
}
.lengthwiseContent h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
}
.headers {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.contentGrid {
    display: grid;
    grid-template-columns: auto auto;
}
.imgWrapper {
    display: flex;
    margin-top: 10px;
    border-radius: 15px;
    background-color: floralwhite;
    width: 250px;
    margin-right: 15px;
    align-items: center;
}
.imgWrapper img {
    border-radius: 15px;
    width: 100%;
}

.contentList li{
    margin-left: 15px;
    margin-bottom: 10px;
}
.contentList dt {
    margin-bottom: 10px;
    font-size: larger;
    font-weight: bold;
}
.contentList dd {
    margin-bottom: 10px;
    font-size: larger;
}
footer {
    position: fixed;
    right: 0;
    bottom: 0;
}
/* Tablet layout */
@media screen and (max-width: 900px) {
    
}

/* Mobile layout */
@media screen and (max-width: 600px) {
    
}